In [22]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv("starbucks_locations.csv")
data.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [ ]:
def starbucksfiner(Lat, Long, N):
    #load data
    data = pd.read_csv("starbucks_locations.csv")
    #calculate the distance
    data["distance"] = np.sqrt((Long - data["Longitude"]) ** 2 + (Lat - data["Latitude"]) ** 2)
    #sort the distance and print the result
    top_N_rows = data.nsmallest(N, 'distance')
    #return class
    return top_N_rows[["Store Name"]]

In [21]:
starbucksfiner(50, 40, 5)

               Store Name
10663  Mega Rostov-on-Don
10664            Gorizont
10662      B. Sadovaya 81
10579         Krasnaya 68
10580        Krasnaya 108